
.bolhas{
    position: absolute;
    display: flex;
  }
  
.bolhas span {
    width: 30px;
    height: 30px;
    background: #ff7b00;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #ad710044,
    0 0  50px#ff7b00,
    0 0  100px#ff7b00;
    animation: animar calc(150s / var(--i)) linear infinite;
}

@keyframes animar {
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}

.bolhas span:nth-of-type(even){
    background: #2dc3ff;
    box-shadow: 0 0 0 10px #0075c444,
    0 0  50px#2dc3ff,
    0 0  100px#2dc3ff;;
}